# Database programming with MySQL:

In [1]:
''' PS#1:  Implement Inventory management in python with MySQL
     a) Inventory management, a critical element of the supply chain, is the tracking of inventory from manufacturers to 
    warehouse and from these facilities to a point of sale. The goal of inventory management is to have the right products in 
    the right place at the right time.
    b) The required database is inventory, and the requird Tables are Purchase,Sale and Inventory.
    c) Note: Apply your thoughts to demonstrate the DB Operation in python. 
    
    
    '''
import mysql.connector

conn=mysql.connector.connect(user='root', password='root123',
                            host='127.0.0.1',
                            database='inventory')
curs=conn.cursor()

#----------------------------------------------------  Purchase table -------------------
purchase_table='''
create table purchase(id INT AUTO_INCREMENT PRIMARY KEY,
                product_name VARCHAR(255),
                quantity INT,
                purchase_date DATE)
       

'''

curs.execute(purchase_table)
#conn.commit()

In [6]:
curs.execute('insert into purchase(product_name,quantity,purchase_date) values("Nycil Powder",20,"2023-09-15")')
curs.execute('insert into purchase(product_name,quantity,purchase_date) values("Coconut oil",20,"2023-09-15")')
conn.commit()

In [7]:
curs.execute("select * from purchase")
result=curs.fetchall()
for x in result:
    print(x)

(1, 'Nycil Powder', 20, datetime.date(2023, 9, 15))
(2, 'Nycil Powder', 20, datetime.date(2023, 9, 15))
(3, 'Coconut oil', 20, datetime.date(2023, 9, 15))

In [8]:
#----------------------------------------------------  Sell table -------------------
sell_table='''
create table sells(id INT AUTO_INCREMENT PRIMARY KEY,
                product_name VARCHAR(255),
                quantity INT,
                sale_date DATE)
       

'''

curs.execute(sell_table)
#conn.commit()

In [10]:
curs.execute('insert into sells(product_name,quantity,sale_date) values("Nycil Powder",2,"2023-09-15")')
conn.commit()

In [11]:
curs.execute("select * from sells")
result=curs.fetchall()
for x in result:
    print(x)

(1, 'Nycil Powder', 2, datetime.date(2023, 9, 15))

In [12]:
#----------------------------------------------------  Inventory table -------------------
Inventory_table='''
create table Inventory(id INT AUTO_INCREMENT PRIMARY KEY,
                product_name VARCHAR(255),
                quantity INT)
       

'''

curs.execute(Inventory_table)
#conn.commit()

In [13]:
curs.execute('insert into Inventory(product_name,quantity) values("Coconut oil",18)')

conn.commit()

In [14]:
curs.execute("select * from Inventory")
result=curs.fetchall()
for x in result:
    print(x)

(1, 'Coconut oil', 18)

In [8]:
'''PS#2: Customer Order Processing Scenario:  you are building a customer order processing system for an e-commerce company. 
The system needs to interact with a mysql database to store customer orders,products, and order details.
  1.Design a mysql database schema for the order processing system, including tables for customer,products and orders.
  2. write a python program that connects the database and allow customer to place new orders.
  3. Impelement a features that calculates the total cost of an order and updates product quantities in the database.
  4. How would you handle cases where a product is no longer available when a customer palce an order ?
  5. Develop a function to generate order reports for the company's finance department.

'''
import mysql.connector

conn=mysql.connector.connect(user='root', password='root123',
                            host='127.0.0.1',
                            database='ecom')
curs=conn.cursor()

In [17]:
'''
Customers Table:

customer_id (Primary Key)
customer_name
customer_email
customer_address
'''
cust_table='''
create table Customers(customer_id int auto_increment Primary Key,customer_name varchar(40),customer_email varchar(20),customer_address varchar(50))
       
'''

curs.execute(cust_table)

In [18]:
curs.execute('insert into Customers(customer_name,customer_email,customer_address) values("Raj","abc123@gmail.com","Pune")')
curs.execute('insert into Customers(customer_name,customer_email,customer_address) values("Raja","abc1234@gmail.com","Pune")')

conn.commit()

In [19]:
curs.execute("select * from Customers")
result=curs.fetchall()
for x in result:
    print(x)

(1, 'Raj', 'abc123@gmail.com', 'Pune')
(2, 'Raja', 'abc1234@gmail.com', 'Pune')

In [ ]:
'''
Products Table:

product_id (Primary Key)
product_name
product_price
product_quantity
'''

product_table='''
create table Products(product_id int auto_increment Primary Key,product_name varchar(40),product_price varchar(20), product_quantity int)
       
'''

curs.execute(product_table)

In [7]:
curs.execute('insert into Products(product_name,product_price,product_quantity) values("Dairy Milk",50,10)')
curs.execute('insert into Products(product_name,product_price,product_quantity) values("Milk",60,10)')
curs.execute('insert into Products(product_name,product_price,product_quantity) values("Cupcake",70,10)')
conn.commit()

In [9]:
curs.execute('select *from Products')
result=curs.fetchall()
for x in result:
    print(x)

(1, 'Dairy Milk', '50', 10)
(2, 'Milk', '60', 10)
(3, 'Cupcake', '70', 10)
(4, 'Dairy Milk', '50', 10)
(5, 'Milk', '60', 10)
(6, 'Cupcake', '70', 10)

In [11]:
'''
Orders Table:

order_id (Primary Key)
customer_id (Foreign Key referencing Customers)
order_date
'''
order_table='''
 create table Orders(order_id int auto_increment primary key, customer_id int, foreign key(customer_id) references Customers(customer_id),order_date date)
'''

curs.execute(order_table)

In [12]:
curs.execute('insert into Orders(customer_id,order_date) values(1, "2023-09-15")')
curs.execute('insert into Orders(customer_id,order_date) values(2, "2023-09-15")')
conn.commit()

In [13]:
curs.execute('select *from Orders')
result=curs.fetchall()
for x in result:
    print(x)

(1, 1, datetime.date(2023, 9, 15))
(2, 2, datetime.date(2023, 9, 15))

In [14]:
'''
OrderDetails Table:

order_detail_id (Primary Key)
order_id (Foreign Key referencing Orders)
product_id (Foreign Key referencing Products)
quantity
'''

OrderDetails_table='''
create table OrderDetails(order_detail_id int auto_increment primary key, order_id int, foreign key(order_id) references Orders(order_id), product_id int, foreign key(product_id) references Products(product_id),
       quantity int)
'''
curs.execute(OrderDetails_table)

In [15]:
curs.execute('insert into OrderDetails(order_id,product_id,quantity) values(1,2,20)')
curs.execute('insert into OrderDetails(order_id,product_id,quantity) values(2,1,10)')
conn.commit()

In [4]:
curs.execute('select *from OrderDetails')
result=curs.fetchall()
for x in result:
    print(x)

(1, 1, 2, 20)
(2, 2, 1, 10)

In [5]:
# Function to place an order
def place_order(customer_id, product_id, quantity):
    try:
        # Check if the product is available in sufficient quantity
        curs.execute("SELECT product_quantity FROM Products WHERE product_id = %s", (product_id,))
        available_quantity = curs.fetchone()[0]
        
        if available_quantity >= quantity:
            # Calculate the total cost
            curs.execute("SELECT product_price FROM Products WHERE product_id = %s", (product_id,))
            product_price = curs.fetchone()[0]
            total_cost = product_price * quantity
            
            # Insert the order into the Orders table
            curs.execute("INSERT INTO Orders (customer_id, order_date) VALUES (%s, NOW())", (customer_id,))
            order_id = curs.lastrowid
            
            # Insert the order details into the OrderDetails table
            curs.execute("INSERT INTO OrderDetails (order_id, product_id, quantity) VALUES (%s, %s, %s)",
                           (order_id, product_id, quantity))
            
            # Update product quantity
            new_quantity = available_quantity - quantity
            curs.execute("UPDATE Products SET product_quantity = %s WHERE product_id = %s", (new_quantity, product_id))
            
            conn.commit()
            print("Order placed successfully.")
        else:
            print("Insufficient product quantity.")
    except Exception as e:
        print(f"Error placing order: {str(e)}")
        conn.rollback()


if __name__ == "__main__":
    place_order(1, 2, 3)  # Example order: Customer ID 1 orders 3 units of Product ID 1

# Close cursor and connection when done
curs.close()
conn.close()

Order placed successfully.

In [9]:
def generate_order_report():
    try:
        curs.execute("""
            SELECT Orders.order_id, Customers.customer_name, Products.product_name, 
                   OrderDetails.quantity, Products.product_price
            FROM Orders
            JOIN Customers ON Orders.customer_id = Customers.customer_id
            JOIN OrderDetails ON Orders.order_id = OrderDetails.order_id
            JOIN Products ON OrderDetails.product_id = Products.product_id
        """)
        
        orders = curs.fetchall()
        
        for order in orders:
            order_id, customer_name, product_name, quantity, product_price = order
            total_cost = quantity * product_price
            print(f"Order ID: {order_id}, Customer: {customer_name}, Product: {product_name}, Quantity: {quantity}, Total Cost: ${total_cost}")
    except Exception as e:
        print(f"Error generating order report: {str(e)}")


if __name__ == "__main__":
    generate_order_report()

Order ID: 2, Customer: Raja, Product: Dairy Milk, Quantity: 10, Total Cost: $50505050505050505050
Order ID: 1, Customer: Raj, Product: Milk, Quantity: 20, Total Cost: $6060606060606060606060606060606060606060
Order ID: 3, Customer: Raj, Product: Milk, Quantity: 3, Total Cost: $606060

In [29]:
''' PS#3: You are tasked with developing a Python program that connects to a MySQL database, retrieves data from a table, performs some operations on the data, and updates the database with the modified data. Please write Python code to accomplish this task.

 Instructions:

        1. Assume that you have a MySQL database server running with the following details:

            i. Host: localhost

            ii. Port: 3306

            iii. Username: your username

            iv. Password: your password

            v. Database Name: your database

            vi. Table Name: your table

            vii. The table has the following columns: id (int), name (varchar), quantity (int).

        2. Your Python program should:

            i. Connect to the MySQL database.

            ii. Retrieve all records from the your table table.

            iii. Calculate the total quantity of all records retrieved.

            iv. Update the quantity column of each record by doubling its value.

            v. Commit the changes to the database.

            vi. Close the database connection.

        3. Handle any potential errors that may occur during the database connection and

        data manipulation, such as connection failures or SQL errors.

        4. Provide comments in your code to explain each step




'''


#----------------------------------------------Solutions -------------------------------
# Establish a connection to the MySQL database
import mysql.connector

conn=mysql.connector.connect(user='root', password='root123',host='127.0.0.1',database='mla')
curs=conn.cursor()

In [30]:
curs

In [31]:
try:
    
    # Step 1: Retrieve all records from the table
    curs.execute('select *from order_records')
    records = curs.fetchall()
    #for x in records:
        #print(x)
    # Step 2: Calculate the total quantity
    total_quantity = sum(record[2] for record in records)

    # Step 3: Update the quantity column by doubling its value for each record
    update_query = "UPDATE order_records SET quantity = quantity * 2 WHERE id = %s"
    for record in records:
        curs.execute(update_query, (record[0],))
    
    conn.commit()

    # Step 4: Close the database connection
    curs.close()
    conn.close()

    print(f"Total quantity before update: {total_quantity}")
    print("All records updated successfully.")
except mysql.connector.Error as error:
    print("Error:", error)
finally:
    if conn.is_connected():
        conn.close()

Total quantity before update: 7
All records updated successfully.

In [45]:
''' PS#4: You are developing an employee management system for a company. The database should store employee information, 
including name, salary, department, and hire date. Managers should be able to view and update employee details.

                1. Design the database schema for the employee management system.

                2. Write Python code to connect to the database and retrieve a list of employees in a specific department.

                3. Implement a feature to update an employee's salary.

'''
import mysql.connector

conn=mysql.connector.connect(user='root', password='root123',host='127.0.0.1',database='mla')
curs=conn.cursor()

In [46]:
curs

In [47]:
# Department to search for
target_department = "HR"

try:

    # Query to retrieve employees in a specific department
    query = "SELECT name, salary, hire_date FROM employees WHERE department = %s"
    curs.execute(query, (target_department,))

    # Fetch all matching employees
    employees = curs.fetchall()

    if employees:
        print(f"Employees in the {target_department} department:")
        for employee in employees:
            name, salary, hire_date = employee
            print(f"Name: {name}, Salary: {salary}, Hire Date: {hire_date}")
    else:
        print(f"No employees found in the {target_department} department.")

except mysql.connector.Error as error:
    print("Error:", error)
finally:
    print("Look at Further process:")

Employees in the HR department:
Name: Rahul, Salary: 10000.00, Hire Date: 2023-09-15
Look at Further process:

In [48]:
# Employee to update (replace with the desired employee's name)
employee_to_update = "Rahul"

# New salary value
new_salary = 20000.00

try:
    # Update an employee's salary
    update_query = "UPDATE employees SET salary = %s WHERE name = %s"
    curs.execute(update_query, (new_salary, employee_to_update))
    conn.commit()
    print(f"Salary updated successfully for {employee_to_update}.")

except mysql.connector.Error as error:
    print("Error:", error)
finally:
    if conn.is_connected():
        curs.close()
        conn.close()

Salary updated successfully for Rahul.