# 1. Manipulating using a list

In [22]:
list1=[2,6,8]
list1

[2, 6, 8]

In [23]:
#i)To add new elements to the end of list
list1.append(4)
list1.extend([3,5,7])# add muliple elements
list1

[2, 6, 8, 4, 3, 5, 7]

In [24]:
#ii) To reverse the list
list1.reverse()
list1

[7, 5, 3, 4, 8, 6, 2]

In [25]:
#iii) To display the same list of elemets in multiple times
list1*3

[7, 5, 3, 4, 8, 6, 2, 7, 5, 3, 4, 8, 6, 2, 7, 5, 3, 4, 8, 6, 2]

In [26]:
#iv) To concatenate two list
lst=[120,20,36]
#list.append(lst)
#list.pop()
list1=list1+lst
list1

[7, 5, 3, 4, 8, 6, 2, 120, 20, 36]

In [27]:
#v) sort the elements in the list in asc order
list1.sort()
list1

[2, 3, 4, 5, 6, 7, 8, 20, 36, 120]

# 2. Write a python program to do in the tuples.

In [1]:
#i) Manipulating the tuples
city=("Patna","Gaya","London")
temp=list(city)
temp

['Patna', 'Gaya', 'London']

In [2]:
temp.pop()

'London'

In [3]:
temp.append("Dhaka")

In [4]:
city=tuple(temp)

In [5]:
#ii) To add new new elemnt to the end in the tuple
city  # added Dhaka to tuple at the end

('Patna', 'Gaya', 'Dhaka')

In [7]:
#iii) To reverse in the list
rev=list(city)
rev.reverse()
rev

['Dhaka', 'Gaya', 'Patna']

In [8]:
#iv) To dispaly same tuple multiple times
city*2

('Patna', 'Gaya', 'Dhaka', 'Patna', 'Gaya', 'Dhaka')

In [1]:
#v) To concatenate to tuples

countries = ("Pakistan", "Afghanistan", "Bangladesh", "ShriLanka")
countries2 = ("Vietnam", "India", "China")
southEastAsia = countries + countries2
print(southEastAsia)

('Pakistan', 'Afghanistan', 'Bangladesh', 'ShriLanka', 'Vietnam', 'India', 'China')

In [10]:
#vi) To sort the list in asc order
rev.sort()
rev

['Dhaka', 'Gaya', 'Patna']

# 3. Write python program to implement the following using list

In [2]:
#i) create a list with integers(minimum 10 numbers)
a=[1,2,3,4,5,6,7,8,9,10]
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
#ii) To display last number in list
a[-1]

10

In [6]:
#iii) command to display values from the list[0:4]
a[0:4]

[1, 2, 3, 4]

In [7]:
#iv) command to display values from the list[2:]
a[2:]

[3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
#v) command to display values from the list[:6]
a[:6]

[1, 2, 3, 4, 5, 6]

# 4. write python program: tuple1=(10,50,20,40,30)

In [11]:
tuple1=(10,50,20,40,30)
#i) To display the elements 10 and 50 from tuple1
tuple1[0],tuple1[1]

(10, 50)

In [12]:
#ii) To display length of tuple
len(tuple1)

5

In [17]:
#iii) To find minimum element from tuple1
'''import sys
minm=sys.maxint'''
minm=1000
for i in range(0,len(tuple1)):
    if tuple1[i]<minm:
        minm=tuple1[i]
print(minm)

10

In [19]:
#iv) To add elements into tuple1
temp=list(tuple1)
temp.append(23)
tuple1=tuple(tuple1)
tuple1

(10, 50, 20, 40, 30)

In [20]:
#v) to display same elements in multiple times
tuple1*2

(10, 50, 20, 40, 30, 10, 50, 20, 40, 30)

# 5. write a python program:

In [29]:
str=["Geeks","for","geeks"]
#i) To calculate the length of string
len(str)

3

In [30]:
#ii) To reverse word in string
str.reverse()
str

['geeks', 'for', 'Geeks']

In [32]:
#iii)To display same string into multiple times
print(str*2)

['geeks', 'for', 'Geeks', 'geeks', 'for', 'Geeks']

In [26]:
#iv) To concatenate two strings
str2=["coding","paltform"]
s=str+str2
s

['geeks', 'for', 'Geeks', 'coding', 'paltform']

In [34]:
#v) str1="South India" using string slicing to display "India"
str1="South India"
str1[6:]

'India'

# 6. Perform following:

In [35]:
#i) creating a dictionary.
dict1 = {1: 'Geeks', 2: 'For', 3: 'Geeks'}
dict1

{1: 'Geeks', 2: 'For', 3: 'Geeks'}

In [39]:
#ii) Accessing the values and keys in the dictionary
dict1[1],  dict1.values()

('Geeks', dict_values(['Geeks', 'For', 'Geeks']))

In [40]:
#iii)updating the dictionary using funtion
dict2={5:'coding',6:'doing'}
dict1.update(dict2)
dict1

{1: 'Geeks', 2: 'For', 3: 'Geeks', 5: 'coding', 6: 'doing'}

In [44]:
#iv) clear and delete the dictionary values
dict1.pop(3)
dict1.clear()
dict1

{}

# 7. python program to insert a number to any position in a list

In [45]:
lst=[5,7,9]
lst.insert(0,3)
lst

[3, 5, 7, 9]

# 8. python program to delete an element in a list by index

In [46]:
lst=[5,7,9,10]
lst.pop(2)

9

In [47]:
lst

[5, 7, 10]

# 9. write a program to dispaly a number from 1to 100

In [57]:
list=[]
for i in range(1,101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

# 10. write a python program to find sum of all items in a tuple

In [61]:
tuple11=(5,6,9,3)
sum=0;
for i in range(0,len(tuple11)):
    sum+=tuple11[i]
print(sum)

23

# 11. create a dictionary containing three lambda functions square,cube and squareroot

In [2]:
#skip 11, 12, 13 bcuz of lambda fun

# Control structures:

# 1. write python program to find first N prime numbers