# 1. Manipulating using a list

In [22]:
list1=[2,6,8]
list1

[2, 6, 8]

In [23]:
#i)To add new elements to the end of list
list1.append(4)
list1.extend([3,5,7])# add muliple elements
list1

[2, 6, 8, 4, 3, 5, 7]

In [24]:
#ii) To reverse the list
list1.reverse()
list1

[7, 5, 3, 4, 8, 6, 2]

In [25]:
#iii) To display the same list of elemets in multiple times
list1*3

[7, 5, 3, 4, 8, 6, 2, 7, 5, 3, 4, 8, 6, 2, 7, 5, 3, 4, 8, 6, 2]

In [26]:
#iv) To concatenate two list
lst=[120,20,36]
#list.append(lst)
#list.pop()
list1=list1+lst
list1

[7, 5, 3, 4, 8, 6, 2, 120, 20, 36]

In [27]:
#v) sort the elements in the list in asc order
list1.sort()
list1

[2, 3, 4, 5, 6, 7, 8, 20, 36, 120]

# 2. Write a python program to do in the tuples.

In [1]:
#i) Manipulating the tuples
city=("Patna","Gaya","London")
temp=list(city)
temp

['Patna', 'Gaya', 'London']

In [2]:
temp.pop()

'London'

In [3]:
temp.append("Dhaka")

In [4]:
city=tuple(temp)

In [5]:
#ii) To add new new elemnt to the end in the tuple
city  # added Dhaka to tuple at the end

('Patna', 'Gaya', 'Dhaka')

In [7]:
#iii) To reverse in the list
rev=list(city)
rev.reverse()
rev

['Dhaka', 'Gaya', 'Patna']

In [8]:
#iv) To dispaly same tuple multiple times
city*2

('Patna', 'Gaya', 'Dhaka', 'Patna', 'Gaya', 'Dhaka')

In [1]:
#v) To concatenate to tuples

countries = ("Pakistan", "Afghanistan", "Bangladesh", "ShriLanka")
countries2 = ("Vietnam", "India", "China")
southEastAsia = countries + countries2
print(southEastAsia)

('Pakistan', 'Afghanistan', 'Bangladesh', 'ShriLanka', 'Vietnam', 'India', 'China')

In [10]:
#vi) To sort the list in asc order
rev.sort()
rev

['Dhaka', 'Gaya', 'Patna']

# 3. Write python program to implement the following using list

In [2]:
#i) create a list with integers(minimum 10 numbers)
a=[1,2,3,4,5,6,7,8,9,10]
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
#ii) To display last number in list
a[-1]

10

In [6]:
#iii) command to display values from the list[0:4]
a[0:4]

[1, 2, 3, 4]

In [7]:
#iv) command to display values from the list[2:]
a[2:]

[3, 4, 5, 6, 7, 8, 9, 10]

In [8]:
#v) command to display values from the list[:6]
a[:6]

[1, 2, 3, 4, 5, 6]

# 4. write python program: tuple1=(10,50,20,40,30)

In [11]:
tuple1=(10,50,20,40,30)
#i) To display the elements 10 and 50 from tuple1
tuple1[0],tuple1[1]

(10, 50)

In [12]:
#ii) To display length of tuple
len(tuple1)

5

In [17]:
#iii) To find minimum element from tuple1
'''import sys
minm=sys.maxint'''
minm=1000
for i in range(0,len(tuple1)):
    if tuple1[i]<minm:
        minm=tuple1[i]
print(minm)

10

In [19]:
#iv) To add elements into tuple1
temp=list(tuple1)
temp.append(23)
tuple1=tuple(tuple1)
tuple1

(10, 50, 20, 40, 30)

In [20]:
#v) to display same elements in multiple times
tuple1*2

(10, 50, 20, 40, 30, 10, 50, 20, 40, 30)

# 5. write a python program:

In [29]:
str=["Geeks","for","geeks"]
#i) To calculate the length of string
len(str)

3

In [30]:
#ii) To reverse word in string
str.reverse()
str

['geeks', 'for', 'Geeks']

In [32]:
#iii)To display same string into multiple times
print(str*2)

['geeks', 'for', 'Geeks', 'geeks', 'for', 'Geeks']

In [26]:
#iv) To concatenate two strings
str2=["coding","paltform"]
s=str+str2
s

['geeks', 'for', 'Geeks', 'coding', 'paltform']

In [34]:
#v) str1="South India" using string slicing to display "India"
str1="South India"
str1[6:]

'India'

# 6. Perform following:

In [35]:
#i) creating a dictionary.
dict1 = {1: 'Geeks', 2: 'For', 3: 'Geeks'}
dict1

{1: 'Geeks', 2: 'For', 3: 'Geeks'}

In [39]:
#ii) Accessing the values and keys in the dictionary
dict1[1],  dict1.values()

('Geeks', dict_values(['Geeks', 'For', 'Geeks']))

In [40]:
#iii)updating the dictionary using funtion
dict2={5:'coding',6:'doing'}
dict1.update(dict2)
dict1

{1: 'Geeks', 2: 'For', 3: 'Geeks', 5: 'coding', 6: 'doing'}

In [44]:
#iv) clear and delete the dictionary values
dict1.pop(3)
dict1.clear()
dict1

{}

# 7. python program to insert a number to any position in a list

In [45]:
lst=[5,7,9]
lst.insert(0,3)
lst

[3, 5, 7, 9]

# 8. python program to delete an element in a list by index

In [46]:
lst=[5,7,9,10]
lst.pop(2)

9

In [47]:
lst

[5, 7, 10]

# 9. write a program to dispaly a number from 1to 100

In [57]:
list=[]
for i in range(1,101):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100

# 10. write a python program to find sum of all items in a tuple

In [61]:
tuple11=(5,6,9,3)
sum=0;
for i in range(0,len(tuple11)):
    sum+=tuple11[i]
print(sum)

23

# 11. create a dictionary containing three lambda functions square,cube and squareroot

In [1]:
'''
11. Create a dictionary containing three lambda functions square, cube and square root.

i) E.g. dict = {'Square': function for squaring, 'Cube': function for cube, 'Squareroot': function for square root)

ii) Pass the values (input from the user) to the functions in the dictionary respectively.

iii) Then add the outputs of each function and print it.

'''
# Define the dictionary with lambda functions
my_dict = {
    'Square': lambda x: x ** 2,
    'Cube': lambda x: x ** 3,
    'SquareRoot': lambda x: x ** 0.5
}


num = float(input("Enter a number: "))


total_sum = 0

for key, func in my_dict.items():
    output = func(num)
    print(f"{key} of {num} is {output}")
    total_sum += output

print(f"Sum of the outputs: {total_sum}")

Enter a number: 5
Square of 5.0 is 25.0
Cube of 5.0 is 125.0
SquareRoot of 5.0 is 2.23606797749979
Sum of the outputs: 152.2360679774998

In [2]:
''' 12. A list of words is given. Find the words from the list that have their second character in uppercase.

            Is = ['hello', 'Dear', 'how', 'ARe', 'You']

'''

ls = ['hello', 'Dear', 'how', 'ARe', 'You']


result_words = []


for word in ls:
    if len(word) >= 2 and word[1].isupper():
        result_words.append(word)

print("Words with the second character in uppercase:")
for word in result_words:
    print(word)

Words with the second character in uppercase:
ARe

In [ ]:
'''13. A dictionary of names and their weights on earth is given. Find how much they will weight on the moon. (Use map and lambda functions) Formula: wMoon (wEarth GMoon) / GEarth

            1) #Weight of people in kg

            WeightOnEarth = ('John':45, 'Shelly':65, 'Marry':35)

            ii) # Gravitational force on the Moon: 1.622 m/s2

            GMoon = 1.622

            # Gravitational force on the Earth: 9.81 m/s2

            GEarth = 9.81

'''

# Define the dictionary with names and their weights on Earth
WeightOnEarth = {'John': 45, 'Shelly': 65, 'Marry': 35}

# Gravitational forces
GMoon = 1.622
GEarth = 9.81

# Define a lambda function to calculate the weight on the Moon
calculate_weight_on_moon = lambda weight: weight * GMoon / GEarth

# Use map to calculate the weights on the Moon for each person
weights_on_moon = dict(map(lambda item: (item[0], calculate_weight_on_moon(item[1])), WeightOnEarth.items()))

# Print the weights on the Moon
for name, weight_moon in weights_on_moon.items():
    print(f"{name}'s weight on the Moon: {weight_moon:.2f} kg")

# Control structures:

In [4]:
#1: write python program to find first N prime numbers

def is_prime(num):
    if num <= 1:
        return False
    elif num == 2:
        return True
    elif num % 2 == 0:
        return False
    else:
        for i in range(3, int(num ** 0.5) + 1, 2):
            if num % i == 0:
                return False
        return True

def find_first_n_primes(n):
    prime_list = []
    num = 2
    while len(prime_list) < n:
        if is_prime(num):
            prime_list.append(num)
        num += 1
    return prime_list

N = int(input("Enter the value of N: "))
if N <= 0:
    print("N should be a positive integer.")
else:
    primes = find_first_n_primes(N)
    print(f"The first {N} prime numbers are:")
    print(primes)

Enter the value of N: 10
The first 10 prime numbers are:
[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

In [5]:
'''#2: Write the python code that calculates the salary of an employee. Prompt the user to enter the

          Basic Salary, HRA, TA, and DA. Add these components to calculate the Gross Salary. Also, deduct 10% of salary from the
          Gross Salary to be paid as tax and display gross minus tax as net salary.

'''


basic_salary = float(input("Enter Basic Salary: "))
hra = float(input("Enter HRA: "))
ta = float(input("Enter TA: "))
da = float(input("Enter DA: "))


gross_salary = basic_salary + hra + ta + da
tax = 0.10 * gross_salary
net_salary = gross_salary - tax


print(f"Basic Salary: {basic_salary:.2f}")
print(f"HRA: {hra:.2f}")
print(f"TA: {ta:.2f}")
print(f"DA: {da:.2f}")
print(f"Gross Salary: {gross_salary:.2f}")
print(f"Tax (10% of Gross Salary): {tax:.2f}")
print(f"Net Salary: {net_salary:.2f}")

Enter Basic Salary: 29500.33
Enter HRA: 4500
Enter TA: 1800
Enter DA: 500
Basic Salary: 29500.33
HRA: 4500.00
TA: 1800.00
DA: 500.00
Gross Salary: 36300.33
Tax (10% of Gross Salary): 3630.03
Net Salary: 32670.30

In [6]:
# 3. Write a python program to search for a string in the given list.

my_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']

search_string = input("Enter the string to search for: ")

flag= False

for i in my_list:
    if search_string.lower() == i.lower():
        flag= True
        break


if flag:
    print(f"The string '{search_string}' was found in the list.")
else:
    print(f"The string '{search_string}' was not found in the list.")

Enter the string to search for: date
The string 'date' was found in the list.

In [7]:
#4: Write a Python function that accepts a string and calculates the number of upper-case letters and lower-case letters.

def count_upper_lower_case_letters(input_string):
    upper_count = 0
    lower_count = 0

    for char in input_string:
        if char.isupper():
            upper_count += 1
        elif char.islower():
            lower_count += 1

    return upper_count, lower_count

input_string = input("Enter a string: ")

upper, lower = count_upper_lower_case_letters(input_string)


print(f"Number of uppercase letters: {upper}")
print(f"Number of lowercase letters: {lower}")

Enter a string: Mphasis: The Next Applied
Number of uppercase letters: 4
Number of lowercase letters: 17

In [8]:
#5. Write a program to display the sum of odd numbers and even numbers that fall between 12 and 37.

even_sum = 0
odd_sum = 0

for num in range(12, 38):
    if num % 2 == 0:  
        even_sum += num
    else:
        odd_sum += num

print(f"Sum of even numbers between 12 and 37: {even_sum}")
print(f"Sum of odd numbers between 12 and 37: {odd_sum}")

Sum of even numbers between 12 and 37: 312
Sum of odd numbers between 12 and 37: 325

In [10]:
#6: Write a python Program to print the table of any number.

num = int(input("Enter a number to print its table: "))


start = 1
end = 10

print(f"Table of {num}:")

for i in range(start, end + 1):
    result = num * i
    print(f"{num} x {i} = {result}")

Enter a number to print its table: 5
Table of 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [11]:
#7. Write a Python program to sum the first 10 prime numbers.

def is_prime(num):
    if num <= 1:
        return False
    elif num == 2:
        return True
    elif num % 2 == 0:
        return False
    else:
        for i in range(3, int(num ** 0.5) + 1, 2):
            if num % i == 0:
                return False
        return True

count = 0 
num = 2    

prime_sum = 0 

while count < 10:
    if is_prime(num):
        prime_sum += num
        count += 1
    num += 1

print(f"The sum of the first 10 prime numbers is: {prime_sum}")

The sum of the first 10 prime numbers is: 129

In [13]:
#8. Write a python program to implement arithmetic operations using nested if statement.

operation = input("Enter an arithmetic operation (+, -, *, /): ")

num1 = float(input("Enter the first number: "))
num2 = float(input("Enter the second number: "))


if operation == '+':
    result = num1 + num2
    print(f"{num1} + {num2} = {result}")
elif operation == '-':
    result = num1 - num2
    print(f"{num1} - {num2} = {result}")
elif operation == '*':
    result = num1 * num2
    print(f"{num1} * {num2} = {result}")
elif operation == '/':
    if num2 == 0:
        print("Division by zero is not allowed.")
    else:
        result = num1 / num2
        print(f"{num1} / {num2} = {result}")
else:
    print("Invalid operation. Please enter +, -, *, or /.")

Enter an arithmetic operation (+, -, *, /): /
Enter the first number: 8
Enter the second number: 3.5
8.0 / 3.5 = 2.2857142857142856

In [14]:
#9. Write a python program to take the temperature in Celsius and convert it to a Fahrenheit.
celsius = float(input("Enter temperature in Celsius: "))

fahrenheit = (celsius * 9/5) + 32
print(f"{celsius} degrees Celsius is equal to {fahrenheit} degrees Fahrenheit.")

Enter temperature in Celsius: 37.5
37.5 degrees Celsius is equal to 99.5 degrees Fahrenheit.

In [15]:
#10. Write a python program to find a maximum and minimum number in a list without using an inbuilt function.


def find_max_min(numbers):
    if not numbers:
        return None, None  
    max_num = min_num = numbers[0]  
    for num in numbers:
        if num > max_num:
            max_num = num
        if num < min_num:
            min_num = num

    return max_num, min_num


numbers = [5, 12, 9, 3, 21, 7, 101]


max_value, min_value = find_max_min(numbers)

if max_value is not None and min_value is not None:
    print(f"Maximum number: {max_value}")
    print(f"Minimum number: {min_value}")
else:
    print("The list is empty.")

Maximum number: 101
Minimum number: 3

In [16]:
'''#11: Write a program in python to print out the number of seconds in 30-day month 30 days, 24 hours in a day, 60 minutes per 
        day, 60 seconds in a minute.


'''

days_per_month = 30
hours_per_day = 24
minutes_per_hour = 60
seconds_per_minute = 60

total_seconds = days_per_month * hours_per_day * minutes_per_hour * seconds_per_minute
print(f"The number of seconds in a 30-day month is: {total_seconds}")

The number of seconds in a 30-day month is: 2592000

In [17]:
#12. Write a program in python to print out the number of seconds in a year.
days_per_year = 365
hours_per_day = 24
minutes_per_hour = 60
seconds_per_minute = 60

seconds_in_a_year = days_per_year * hours_per_day * minutes_per_hour * seconds_per_minute

print(f"The number of seconds in a year is approximately: {seconds_in_a_year}")

The number of seconds in a year is approximately: 31536000

In [18]:
'''#13: A high-speed train can travel at an average speed of 150 mph, how long will it take a train travelling at this speed to 
       travel from London to Glasgow which is 414 miles away?
'''
distance_miles = 414
speed_mph = 150

time_hours = distance_miles / speed_mph
print(f"It will take approximately {time_hours:.2f} hours to travel from London to Glasgow at 150 mph.")

It will take approximately 2.76 hours to travel from London to Glasgow at 150 mph.

In [19]:
'''#14: Write a python program that defines a variable called days_in_each_school year and assign 192 to the variable.
        The program should then print out the total hours that you spend in school from year 7 to year 11, if each day you spend 6 hours
        in school days_in_each_school_year = 192

'''

days_in_each_school_year = 192
school_years = range(7, 12)

hours_per_day = 6
total_hours_in_school = days_in_each_school_year * len(school_years) * hours_per_day

print(f"Total hours spent in school from year 7 to year 11: {total_hours_in_school} hours")

Total hours spent in school from year 7 to year 11: 5760 hours

In [20]:
#15:If the age of Ram,Sam and Khan are input through the keyboard,write a python program to determine the eldest and youngest of the three.


ram_age = int(input("Enter Ram's age: "))
sam_age = int(input("Enter Sam's age: "))
khan_age = int(input("Enter Khan's age: "))


if ram_age > sam_age and ram_age > khan_age:
    eldest = "Ram"
elif sam_age > ram_age and sam_age > khan_age:
    eldest = "Sam"
else:
    eldest = "Khan"

if ram_age < sam_age and ram_age < khan_age:
    youngest = "Ram"
elif sam_age < ram_age and sam_age < khan_age:
    youngest = "Sam"
else:
    youngest = "Khan"


print(f"The eldest among Ram, Sam, and Khan is {eldest}.")
print(f"The youngest among Ram, Sam, and Khan is {youngest}.")

Enter Ram's age: 18
Enter Sam's age: 19
Enter Khan's age: 23
The eldest among Ram, Sam, and Khan is Khan.
The youngest among Ram, Sam, and Khan is Ram.

In [21]:
# 16. Write a python program to rotate a list by right n times with and without slicing technique.

                                    #  --------------------without slicing-----------
def rotate_right_without_slicing(arr, n):
    if n <= 0:
        return arr  

    n = n % len(arr)  
    for _ in range(n):
        last_element = arr.pop()
        arr.insert(0, last_element)

    return arr


my_list = [1, 2, 3, 4, 5]


n = 2

rotated_list = rotate_right_without_slicing(my_list, n)
print(f"Rotated list by {n} times without slicing: {rotated_list}")

Rotated list by 2 times without slicing: [4, 5, 1, 2, 3]

In [22]:
                                         #  --------------------with slicing-----------
def rotate_right_with_slicing(arr, n):
    if n <= 0:
        return arr

    n = n % len(arr)  

    rotated_list = arr[-n:] + arr[:-n]

    return rotated_list

my_list = [1, 2, 3, 4, 5]

n = 2

rotated_list = rotate_right_with_slicing(my_list, n)
print(f"Rotated list by {n} times with slicing: {rotated_list}")

Rotated list by 2 times with slicing: [4, 5, 1, 2, 3]

In [1]:
#17 Print pattern

In [20]:
n=int(input())
m=n-1

for i in range(1,n+1):
    for j in range(1,i+1):
        print('*',end="")
    print("\n")

5
*

**

***

****

*****

In [23]:
lst=['p','y','t','h','o','n']
n=len(lst)

for i in range(0,n):
    for j in range(0,i+1):
        print(lst[j],end="")
    print("\n")

p

py

pyt

pyth

pytho

python

In [12]:
n=int(input())
for i in range(1,n+1):
    for j in range(1,n-i+1):
        print(" ")
    for k in range(1,i+1):
        print("*",end='')
        
    print("\n")

7






*






**





***




****



*****


******

*******

In [17]:
n=int(input())
coef=1;
for i in range(0,n):
    for j in range(0,i+1):
        if j==0 or i==0:
            coef=1
        else:
            coef=coef*(i-j+1)//j
        print(coef,' ',end='')
        
    print("\n")

7
1

1  1

1  2  1

1  3  3  1

1  4  6  4  1

1  5  10  10  5  1

1  6  15  20  15  6  1